/* ----------------------- Body ----------------------------------- */
p {
  font-family: "Gotham";
  padding: 0px 20px 20px 20px;
}

h1 {
  font-family: "Gotham";
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 0px 00px 20px 0px;
}

h2 {
  font-family: "Gotham";
  font-size: 20px;
  padding: 0px 0px 20px 0px;
}

button {
  border: none;
  color: white;
  font-family: "Gotham";
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 12px;
}

button:focus {
  outline: none;
}


h3 {
  padding: 20px;
  font-family: "Gotham";
  font-size: 16px;
}


/* ----------------------- Blue Header ----------------------------------- */
.header {
  background-color: rgba(17, 63, 103, .9);
  position: absolute;
  width: 100%;
  text-align: center;
}

.ESC_logo {
  padding: 12px;
  width: 10%;
  height: auto;
  display: inline-block;
  position: relative;
  float: left;
  left: 40%;
  margin: 10px;
}

.subhead {
  font-family: "Gotham";
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #13b5ea;
  border-left: none;
  border-right: none;
  width: 15%;
  padding: 10px;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  float: right;
  right: 33%;
}

/* ----------------------- Slideshow Wrapper ----------------------------------- */

.background-wrapper{
  position: relative;
  z-index: -1;
}

.businessmen {
  height: auto;
  width: 100%;
  display: block;
}

.content {
  background-color: rgba(255,255,255,.8);
  border-radius: 15px;
  width: 35%;
  height: auto;
  padding: 20px;
  position: absolute;
  top: 25%;
  left: 60%;
  text-align: center;
  z-index: 1;
  float: right;
}

.grouplogo{
  max-height: 100px;
}

/* ----------------------- Tabs and List ----------------------------------- */

ul {
  list-style: none;
  margin-bottom: 0px;
  margin-top: -100px;
  margin-left: 50px;
}

li{
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  font-family: "Gotham";
  font-weight: bold;
  color: white;
  width: 200px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab1 {
    background-color: rgba(17, 63, 103, .8);
}

.tab2 {
    background-color: rgba(0, 125, 194, .8);
}

.tab3 {
    background-color: rgba(19, 181, 234, .8);
}

.button2 {
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 20px 5px 20px;
}

.divider {
  z-index: 2;
  height: 20px;
}


/* ----------------------- Links Buttons ----------------------------------- */

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #007dc3;
}

a:active {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}


/* ----------------------- FAQ Area ----------------------------------- */

.button1 {
  border-radius: 5px;
  background-color: #113f67;
  font-size: 16px;
  padding: 10px 15px 10px 15px;
}

.info {
  margin: 0px 20px 30px 20px;
}

.button3 {
  border-radius: 5px;
  background-color: rgba(0, 125, 194, 1);
  font-size: 16px;
  padding: 10px 15px 10px 15px;
}

.button4 {
  border-radius: 5px;
  background-color: rgba(19, 181, 234, 1);
  font-size: 16px;
  padding: 10px 15px 10px 15px;
}

.tab-content {
  background-color: #e9eaeb;
  overflow: auto;
}

.Q1 {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: -20px 100px 50px 100px;
}

.buttons {
  padding: 10px;
  display: block;
  text-align: center;
}

/* ----------------------- Footer ----------------------------------- */

.foot {
  background-color: black;
  height: 55px;
  width: 100%;
}

.IAG_logo {
  height: 50px;
  padding: 10px 20px 10px 10px;
  float: left;
  margin-left: 10%;
}

.footer {
  font-family: "Gotham";
  font-size: 12px;
  color: white;
  padding-top: 17px;
  margin-bottom: 0px;
}
